<nav>
  <span class="logo"><a href="/">Node+Express</a></span>
  <div class="nav">
    <ul>
      <li><a href="/">Главная страница</a></li>
      <li><a href="/about">О приложении</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>
  </div>
</nav>