<!DOCTYPE HTML>

<html>

<head>

    <title>myTinyNode</title>

    <link rel='stylesheet' href='css/main.css'>

</head>

<body>
<%- include("partials/nav.ejs") %>
 <div class='container'>
  <h2>Все об этом приложении</h2>
</div>

</body>

</html>
