<!DOCTYPE HTML>

<html>

<head>

    <title><%= title %></title>

    <link rel='stylesheet' href='css/main.css'>
    <%- include("partials/scripts.ejs") %>
</head>

<body>
 <%- include("partials/nav.ejs") %>
 <div class='container'>
  <h2>Разработка сайта на Node, express,ejs</h2>
</div>
<div id="in" class="box"></div>
</body>
</body>

</html>
