*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(blue, pink) no-repeat;
    color:#fafaca;
    min-height: 700px;
}
.container{
    text-align: center;
    margin-top: 40px;
}
.container>p {
    margin-top: 20px;
}
nav {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}
nav .logo {
    margin-top: 20px;
    font-size: 20px;
    color: #DC143C;
}
.nav ul{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.nav ul>li{
    margin-right: 20px;
    list-style-type: none;
}
a {
    color: #fafafa;
   text-decoration: none;
    color: #DC143C;
}
.contacts {
    margin-top: 20px;
}
